.tile{
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #fff;
    background-color: #f1f1f1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
