.messaging{
    margin: 5px;
    border: 1px dashed #eee;
    height: 70px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bold;
}

.default{
    color: #407B55;
}

.makemove{
    color: #007BD4;
}

.makemove{
    color: #007BD4;
}

.draw{
    color: #8764B8;
}

.win{
    color: #A4262c;
}
