.tictactoe {
    position: relative;
    width: 400px;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
    border: 1px dashed #ddd;
    display: flex;
    flex-direction: column;
}
